<div class="">
  <div class="container-fluid">
    <div class="row">
        <div class="module-instagram">
    {% if entry_instagram %}    
    <div class="cmn-title wow bounce animated"><h3>Instagram <span>Feed</span></h3>
        <div class="separator"></div>
    </div>
    <!-- <h4>{{ entry_instagram }}</h4> -->
    <div class="instagram wow fadeInLeftBig animated">
      {% for instagram in instagrams %}
      <div class="item {{ hover_effect }}">
        <a href="{{ instagram.href }}" target="_blank" data-like="{{ instagram.likes }}">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <img src="{{ instagram.img }}" alt="{{ instagram.text }}"> 
        </a> 
      </div>
      {% endfor %}
    </div>
    {% endif %}
      </div>    
    </div>
  </div>
</div>  
<style>
  .module-instagram .slick-prev:before, 
  .module-instagram .slick-next:before{
    color: {{ color }} !important;
  }
  /**/
  .module-instagram h4{
    text-align: {{ text_align }};
  }
</style>
{% if entry_instagram %}
 <script>
  $('.instagram').slick({
    slidesToShow: {{ slidesToShow }},
    slidesToScroll: {{ slidesToScroll }},
    autoplay: {{ autoplay }},
    autoplaySpeed: {{ autoplaySpeed }},
    dots : {{ dots }},
    arrows : {{ arrows }},
    responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        arrows: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        arrows: true
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true
      }
    }   
    ]
  });
</script>
{% endif %}