
<style>

.thread-body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    margin: 0;
    padding: 0.9em;
   
}

</style>


{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
         <h1>{{heading_title}}</h1>
   
      <form action="{{action}}" method="post" enctype="multipart/form-data" class="form-horizontal">
	  
	  
	 <div class="tab-content">
	  <!--<div class="tab-pane active" id="tab-general">-->
	  <h3>{{tab_general}}</h3>
	
	  <table  style="width: 100%;padding: 10px;    border-collapse: unset;    border: 1px solid gainsboro;" >
        
         <tr style="border: 1px solid gainsboro;">
			<td>
				<table cellpadding="10">		 
					<tbody>
						<tr> <th width="";>{{entry_subject}}</th>
						<td>{{subject}}</td></tr>
						<tr> <th width=""; >{{entry_department}}</th>
						<td>{{department}}</td></tr>
						<tr>
						<th width=""; >{{entry_date_added}}</th>
						<td>{{date_added}}</td></tr>
					</tbody>		 
				</table>
			</td>
		 
		 
		 
		 <td>
	{% for info in user_info %}
		 <table cellpadding='10'width="100%">
			 <thead>
			 <tr>
			 <td colspan='2'></td>
			 </tr>
			 </thead>
			 <tbody>
			 <tr> <th width="";>{{entry_customer}}</th>
			 <td>{{info.firstname}}</td></tr>
			 <tr> <th width=""; >{{entry_status}}</th>
			 <td>{{status}}</td></tr>
			 <tr>
			 <th width=""; >{{entry_email}}</th>
			 <td>{{info.email}}</td></tr>
			 </tbody>		 
		 </table>
		{%  endfor %}
		 </td>		 
		 </tr>      
		</table>
		
		<br>
		<div><h3>{{entry_message}}</h3></div>
		<div style="width: 100%;border: 1px solid gainsboro;padding: 10px;font-size: 14px;">		
		<p>				 
               {{message}}				 
		</p>		                
		</div>
		<br>
		
		{% if file_info %}
		<div><h3>{{tab_upload}}<h3></div>
		<div class="col-sm-12" style="padding: 10px;border: 1px solid gainsboro;"> 

       
         {% for  filename  in  file_info %}
				
				 
						
					
				<div class="col-sm-10">
					
			
				<!---Model -->
					<div  style="font-size: 16px; padding-top: 13px;">
						<a class="btn btn-link" data-toggle="modal" data-target="#myModal{{filename.file_id}}"> {{filename.file_name}}</a></div>
			
					<!-- Modal -->
					<div class="modal fade" id="myModal{{filename.file_id}}" role="dialog">
						<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">{{filename.file_name}}</h4>
                        </div>
						<div class="modal-body">
						<div style="text-align: center;">
						<iframe src="./admin/attachments/{{filename.file_name}}"
							style="width:500px; height:500px;" frameborder="0"></iframe>
							</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
						</div>
						</div>
					</div>	
				<!--End model   -->	
				
				</div>
				
					{% endfor %}

		</div>
	{% endif %}
			<!--Comment -->
		<div class="col-sm-12"> 
		 <fieldset>			 
			<div class="scrollup">
			  
			{%  if CommentData %}
				 
			 
			<ul class="messages" style="list-style: none;">
			  
		 
					{% for  ComData in   CommentData%}
					 
				{% if ComData.status=='1' %}
				<li> 
					
                              
						<div class="message_wrapper" style="padding: 10px 10px;">
						<b>{{ComData.name }}</b>
              
                        <blockquote style="font-size: 14px;" class="message">{{ComData.comment}}</blockquote>
                        
                          <p class="url">
                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                           <a  style="font-weight: bold;"><i class="fa fa-clock-o"></i>{{ComData.datetime}}</a>
                           </p>
						</div>
				</li>	 
			
				{% endif %}
				{% if  ComData.status=='2' %}
				
					<li style="padding-left: 150px;">
					
                           
                       <div class="message_wrapper" style="background: #f9f9f9;padding: 10px 10px;">
					   <b>{{ComData.name }}</b>    
                              <h4 class="heading" style="color: #253b79;"> <h4>
                                <blockquote class="message" style="border-left: 5px solid #bfbfbf;color: #253b79;font-size: 14px;">{{ComData.comment}}</blockquote>
                              
                                <p class="url">
                                 <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                <a style="font-weight: bold;"><i class="fa fa-clock-o"></i>{{ComData.datetime}}</a>
                                  </p>
                        </div>
                    </li>
				 
			{% endif %}
					{% endfor %}
			</ul>	
				{% endif %}
            </div>
				  
				 
			<div class="form-group "style="" > 
			<div class="msgbox row1">
				 <label class="col-sm-2 control-label" for="input-comment"><b>{{entry_comment }}</b></label>
                 <div class="col-sm-10 ">
                  <textarea name="comment"  placeholder="{{entry_comment}}"  id="input-comment" class="form-control textscroll"></textarea>
				  </div>
					<div class="col-sm-12 " style="padding-top: 20px;">
					<div class="pull-right" >
					<div>
					<button type="submit"  data-toggle="tooltip"  title="{{button_save}}" class="btn btn-primary">{{button_save }}</button>
					</div>
					</div>
					</div> 
			</div>
			</div>			
			</fieldset>
			</div>

		 
		 <!--commentEnd -->
      
      </form>
	  </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}