{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item{{ loop.index == breadcrumbs|length ? ' active' }}"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if (success) %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if (error_warning) %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if (not module_email_validation_status) %}
      <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ text_module_disabled }}</div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-pencil"></i> {{ text_edit }}</div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="card-nav-tabs">
            <ul class="nav nav-tabs" id="config-tabs">
              <li class="nav-item active"><a href="javascript:void(0)" class="nav-link" data-target="#tab-setting" data-toggle="tab"><i class="fa fa-cogs hidden-xs"></i> {{ text_tab_setting }}</a></li>
              <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#tab-validate" data-toggle="tab"><i class="fa fa-check hidden-xs"></i> {{ text_tab_validate }}</a></li>
              <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#tab-customer" data-toggle="tab"><i class="fa fa-envelope hidden-xs"></i> {{ text_tab_result }}</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane form-horizontal fade in active" id="tab-setting">
                <div class="form-group row required">
                  <label class="col-sm-2 control-label" for="input-api-key">{{ entry_api_key }}</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="text" id="input-api-key" name="module_email_validation_api_key" value="{{ module_email_validation_api_key }}" required />
                    {% if (error_api_key) %}<div class="text-danger">{{ error_api_key }}</div>{% endif %}
                  </div>
                </div>
                <div class="form-group row required">
                  <label class="col-sm-2 control-label">{{ entry_status }}</label>
                  <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-default{{ module_email_validation_status ? ' active' : '' }}">
                        <input type="radio" name="module_email_validation_status" value="1"{{ module_email_validation_status ? ' checked="checked"' : '' }} />{{ text_enabled }}
                      </label>
                      <label class="btn btn-default{{ not module_email_validation_status ? ' active' : '' }}">
                        <input type="radio" name="module_email_validation_status" value="0"{{ not module_email_validation_status ? ' checked="checked"' : '' }} />{{ text_disabled }}
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="input-read-timeout">{{ entry_read_timeout }}</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="number" name="module_email_validation_read_timeout" id="input-read-timeout" value="{{ module_email_validation_read_timeout }}" />
                  </div>
                  <label class="col-sm-2 control-label" for="input-request-timeout">{{ entry_request_timeout }}</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="number" name="module_email_validation_request_timeout" id="input-request-timeout" value="{{ module_email_validation_request_timeout }}" />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="input-expiry-days">{{ entry_expire_days }}</label>
                  <div class="col-sm-4">
                    <input class="form-control" type="number" name="module_email_validation_expire_days" id="input-expiry-days" value="{{ module_email_validation_expire_days }}"/>
                    <span class="form-text text-muted">{{ text_help_expire_days }}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 control-label">{{ entry_debug }}</label>
                  <div class="col-sm-10">
                    <div>
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-default{{ module_email_validation_debug ? ' active' : '' }}" data-toggle="tooltip" title="{{ text_yes }}">
                          <input type="radio" name="module_email_validation_debug" value="1"{{ module_email_validation_debug ? ' checked="checked"' : '' }} /><i class="fa fa-fw fa-check"></i>
                        </label>
                        <label class="btn btn-default{{ not module_email_validation_debug ? ' active' : '' }}" data-toggle="tooltip" title="{{ text_no }}">
                          <input type="radio" name="module_email_validation_debug" value="0"{{ not module_email_validation_debug ? ' checked="checked"' : '' }} /><i class="fa fa-fw fa-times"></i>
                        </label>
                      </div>
                      {% if (email_validation_debug_log is not empty) %}
                        <a href="{{ action }}&action=clear" class="btn btn-warning"><i class="fa fa-trash"></i></a>
                      {% endif %}
                    </div>
                    {% if (email_validation_debug_log is not empty) %}
                      <div style="margin-top: 15px">
                        <textarea wrap="off" rows="15" readonly class="form-control">{{ email_validation_debug_log }}</textarea>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="tab-pane form-horizontal" id="tab-validate">
                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="input-customer-check">{{ entry_customer_check }}</label>
                  <div class="col-sm-10">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-default{{ module_email_validation_customer_check ? ' active' : '' }}" data-toggle="tooltip" title="{{ text_yes }}">
                        <input type="radio" name="module_email_validation_customer_check" value="1"{{ module_email_validation_customer_check ? ' checked="checked"' : '' }} /><i class="fa fa-fw fa-check"></i>
                      </label>
                      <label class="btn btn-default{{ not module_email_validation_customer_check ? ' active' : '' }}" data-toggle="tooltip" title="{{ text_no }}">
                        <input type="radio" name="module_email_validation_customer_check" value="0"{{ not module_email_validation_customer_check ? ' checked="checked"' : '' }} /><i class="fa fa-fw fa-times"></i>
                      </label>
                    </div>
                    <div class="form-text text-muted">{{ text_help_recheck }}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="input-domain-age">{{ entry_domain_age }}</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="number" name="module_email_validation_domain_age" id="input-domain-age" value="{{ module_email_validation_domain_age }}" />
                    <span class="form-text text-muted">{{ text_help_domain_age }}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 control-label" for="input-banned-domain">{{ entry_banned }}</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" name="module_email_validation_banned" in="input-banned-domain" placeholder="{{ text_help_banned }}">{{ module_email_validation_banned }}</textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 control-label">{{ entry_check }}</label>
                  <div class="col-sm-10">
                    <div class="form-control form-controls-input">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[invalid]" id="input_check_invalid" value="1"{% if (module_email_validation_check['invalid'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_invalid }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[catch-all]" id="input_check_catch_all" value="1"{% if (module_email_validation_check['catch-all'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_catch_all }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[abuse]" id="input_check_abuse" value="1"{% if (module_email_validation_check['abuse'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_abuse }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[unknown]" id="input_check_unknown" value="1"{% if (module_email_validation_check['unknown'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_unknown }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[free_email]" id="input_check_free_email" value="1"{% if (module_email_validation_check['free_email'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_free_mail }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[toxic]" id="input_check_toxic" value="1"{% if (module_email_validation_check['toxic'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_toxic }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[disposable]" id="input_check_disposable" value="1"{% if (module_email_validation_check['disposable'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_disposable }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[spamtrap]" id="input_check_spamtrap" value="1"{% if (module_email_validation_check['spamtrap'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_spamtrap }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[possible_trap]" id="input_check_possible_trap" value="1"{% if (module_email_validation_check['possible_trap'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_possible_trap }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[role_based]" id="input_check_role_based" value="1"{% if (module_email_validation_check['role_based'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_role_based }}
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="module_email_validation_check[role_based_catch_all]" id="input_check_role_based_catch_all" value="1"{% if (module_email_validation_check['role_based_catch_all'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                          {{ text_check_role_based_catch_all }}
                        </label>
                      </div>
                    </div>
                    <div class="form-text text-muted">{{ text_help_check }}</div>
                  </div>
                </div>
                {% for validation_route in validation_routes %}
                  <div class="form-group row">
                    <label class="col-sm-2 control-label">{{ attribute(_context, 'entry_valid_' ~ validation_route) }}</label>
                    <div class="col-sm-10">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-default{{ module_email_validation_route[validation_route] == 1 ? ' active' : '' }}" data-toggle="collapse" data-target="#collapse-route-{{ validation_route|replace({'_' : '-'}) }}.in">
                          <input type="radio" name="module_email_validation_route[{{ validation_route }}]" value="1"{{ module_email_validation_route[validation_route] == 1 ? ' checked="checked"' : '' }} />{{ text_enabled }}
                        </label>
                        <label class="btn btn-default{{ module_email_validation_route[validation_route] == 2 ? ' active' : '' }}" data-toggle="collapse" data-target="#collapse-route-{{ validation_route|replace({'_' : '-'}) }}:not(.in)">
                          <input type="radio" name="module_email_validation_route[{{ validation_route }}]" value="2"{{ module_email_validation_route[validation_route] == 2 ? ' checked="checked"' : '' }} />{{ text_custom }}
                        </label>
                        <label class="btn btn-default{{ module_email_validation_route[validation_route] == 0 ? ' active' : '' }}" data-toggle="collapse" data-target="#collapse-route-{{ validation_route|replace({'_' : '-'}) }}.in">
                          <input type="radio" name="module_email_validation_route[{{ validation_route }}]" value="0"{{ module_email_validation_route[validation_route] == 0 ? ' checked="checked"' : '' }} />{{ text_disabled }}
                        </label>
                      </div>
                      <div id="collapse-route-{{ validation_route|replace({'_' : '-'}) }}" class="collapse{{ module_email_validation_route[validation_route] == 2 ? ' show' : '' }}">
                        <div class="form-control form-controls-input" style="margin-top: 10px;">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][invalid]" id="input_check_{{ validation_route }}_invalid" value="1"{% if (module_email_validation_route_check[validation_route]['invalid'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                                {{ text_check_invalid }}
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][catch-all]" id="input_check_{{ validation_route }}_catch-all" value="1"{% if (module_email_validation_route_check[validation_route]['catch-all'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_catch_all }}
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][abuse]" id="input_check_{{ validation_route }}_abuse" value="1"{% if (module_email_validation_route_check[validation_route]['abuse'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_abuse }}
                            </label>
                          </div>
                          <div class="checkbox">
                           <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][unknown]" id="input_check_{{ validation_route }}_unknown" value="1"{% if (module_email_validation_route_check[validation_route]['unknown'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_unknown }}
                           </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][free_email]" id="input_check_{{ validation_route }}_free_email" value="1"{% if (module_email_validation_route_check[validation_route]['free_email'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_free_mail }}
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][toxic]" id="input_check_{{ validation_route }}_toxic" value="1"{% if (module_email_validation_route_check[validation_route]['toxic'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_toxic }}
                           </label>
                          </div>
                          <div class="checkbox">
                           <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][disposable]" id="input_check_{{ validation_route }}_disposable" value="1"{% if (module_email_validation_route_check[validation_route]['disposable'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_disposable }}
                           </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][spamtrap]" id="input_check_{{ validation_route }}_spamtrap" value="1"{% if (module_email_validation_route_check[validation_route]['spamtrap'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_spamtrap }}
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][possible_trap]" id="input_check_{{ validation_route }}_possible_trap" value="1"{% if (module_email_validation_route_check[validation_route]['possible_trap'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_possible_trap }}
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][role_based]" id="input_check_{{ validation_route }}_role_based" value="1"{% if (module_email_validation_route_check[validation_route]['role_based'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_role_based }}
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="module_email_validation_route_check[{{ validation_route }}][role_based_catch_all]" id="input_check_{{ validation_route }}_role_based_catch_all" value="1"{% if (module_email_validation_route_check[validation_route]['role_based_catch_all'] is defined) %} {{ 'checked="checked"' }} {% endif %}/>
                              {{ text_check_role_based_catch_all }}
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="tab-pane form-horizontal" id="tab-customer">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                    <th>{{ column_customers }}</th>
                    <th class="text-center">{{ column_total }}</th>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{ text_unvalidated }}</td>
                      <td class="text-center"><span data-value="unvalidated_total">{{ unvalidated_total }}</span></td>
                    </tr>
                    <tr>
                      <td>{{ text_validated }}</td>
                      <td class="text-center"><span data-value="validated_total">{{ validated_total }}</span></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                      <td></td>
                      <td class="text-center"><span data-value="customer_total">{{ customer_total }}</span></td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="clearfix">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="action-validate-customers" data-loading-text="{{ text_validating }}"><i class="fa fa-play"></i> {{ button_validate }}</button>
                    <button type="button" class="btn disabled btn-warning" id="cancel-validate-customers" disabled="disabled" data-toggle="tooltip" title="{{ button_cancel }}"><i class="fa fa-times-circle"></i></button>
                  </div>
                  <button type="button" data-toggle="modal" data-target="#modal-result" class="btn btn-info"><i class="fa fa-users"></i> {{ button_result }}</button>
                </div>
              </div>
              <div class="tab-pane" id="tab-result"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p class="text-center">Extension built by: <a href="https://www.opencart-templates.co.uk">Opencart-Templates</a></p>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal-result">
  <div class="modal-dialog modal-lg"></div>
</div>
{{ footer }}