{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-download').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">


      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>




        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-download">

  <div class="well">
      <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-8">               
               <input type="text" name="title" style="" value="" placeholder="{{ entry_name }}" id="input-title" class="form-control" />
              </div>
				<div class="col-sm-4">
               <button type="submit" form="form-review" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" style="width: 100px;">{{ button_save }}</button>
			   </div>
            </div>          
          </div>
        </div>  
      <div class="panel-body">


	   <table class="table table-bordered table-hover">
              <thead>
                <tr>                  
                  <td class="text-left"><a>{{ column_department}}</a></td>		
                  <td class="text-right"><a>{{ column_action}}</a></td>
                </tr>
              </thead>
              <tbody>
		
 	
<pre>
    
</pre>

                {% if department %}
			
                {% for depart in department %}
				
                <tr>
                   <tr id="{{depart.department_id }}">              
                  <td class="text-left">{{ depart.department }}</td>
                  
               <td class="text-right"><button type="button" data-toggle="tooltip" title="delete" onclick="myFunction( {{ depart.department_id }}) " class="btn btn-primary"><i class="fa fa-trash-o"></i></button></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>

        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  
  
  
 function myFunction(department_id) {

    var r = confirm("Are you sure?"); 
if(r == true) {	
 
$.post("index.php?route=extension/module/department/delete&user_token={{user_token }}", {department_id: department_id}, function(result){

	if(result==1){
		$("#"+department_id).remove();
		 alert("Success");
	}
	  else{
		  alert("Assign in ticket list");
	  }
	  
    });
 
} 
} 
</script>
</div>
{{ footer }}