{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item{{ loop.index == breadcrumbs|length ? ' active' }}"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if success %}
      <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if not module_email_validation_status %}
      <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ text_module_disabled }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fa fa-pencil-alt"></i> {{ text_edit }}</div>
      <div class="card-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module">
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label" for="input-api-key">{{ entry_api_key }}</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="input-api-key" name="module_email_validation_api_key" value="{{ module_email_validation_api_key }}" required />
              <div class="help-block">{{ api_credits ? text_api_credits : text_api_key }}</div>
              {% if error_api_key %}
                <div class="invalid-tooltip">{{ error_api_key }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_valid }}</label>
            <div class="col-sm-10">
              <div class="form-control form-controls-input">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_route[]" id="input_route_account_register" value="account/register"{{ 'account/register' in module_email_validation_route ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_route_account_register">{{ text_valid_register }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_route[]" id="input_route_account_edit" value="account/edit"{{ 'account/edit' in module_email_validation_route ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_route_account_edit">{{ text_valid_edit }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_route[]" id="input_route_checkout_register" value="checkout/register"{{ 'checkout/register' in module_email_validation_route ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_route_checkout_register">{{ text_valid_checkout }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_route[]" id="input_route_checkout_guest" value="checkout/guest"{{ 'checkout/guest' in module_email_validation_route ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_route_checkout_guest">{{ text_valid_guest }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_route[]" id="input_route_information_contact" value="information/contact"{{ 'information/contact' in module_email_validation_route ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_route_information_contact">{{ text_valid_contact }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_route[]" id="input_route_customer_customer" value="customer/customer"{{ 'customer/customer' in module_email_validation_route ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_route_customer_customer">{{ text_valid_admin }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_check }}</label>
            <div class="col-sm-10">
              <div class="form-control form-controls-input">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_invalid" value="invalid"{{ 'invalid' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_invalid">{{ text_check_invalid }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_catch_all" value="catch-all"{{ 'catch-all' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_catch_all">{{ text_check_catch_all }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_abuse" value="abuse"{{ 'abuse' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_abuse">{{ text_check_abuse }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_unknown" value="unknown"{{ 'unknown' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_unknown">{{ text_check_unknown }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_free_email" value="free_email"{{ 'free_email' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_free_email">{{ text_check_free_mail }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_toxic" value="toxic"{{ 'toxic' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_toxic">{{ text_check_toxic }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_disposable" value="disposable"{{ 'disposable' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_disposable">{{ text_check_disposable }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_spamtrap" value="spamtrap"{{ 'spamtrap' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_spamtrap">{{ text_check_spamtrap }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_possible_trap" value="possible_trap"{{ 'possible_trap' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_possible_trap">{{ text_check_possible_trap }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_role_based" value="role_based"{{ 'role_based' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_role_based">{{ text_check_role_based }}</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="module_email_validation_check[]"id="input_check_role_based_catch_all" value="role_based_catch_all"{{ 'role_based_catch_all' in module_email_validation_check ? ' checked="checked"' }}/>
                  <label class="form-check-label" for="input_check_role_based_catch_all">{{ text_check_role_based_catch_all }}</label>
                </div>
              </div>
              <div class="form-text text-muted">{{ text_help_check }}</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-domain-age">{{ entry_domain_age }}</label>
            <div class="col-sm-4">
              <input class="form-control" type="number" name="module_email_validation_domain_age" id="input-domain-age" value="{{ module_email_validation_domain_age }}" />
              <span class="form-text text-muted">{{ text_help_domain_age }}</span>
            </div>
            <label class="col-sm-2 col-form-label" for="input-banned-domain">{{ entry_banned }}</label>
            <div class="col-sm-4">
              <textarea class="form-control" name="module_email_validation_banned" in="input-banned-domain" placeholder="{{ text_help_banned }}">{{ module_email_validation_banned }}</textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-read-timeout">{{ entry_read_timeout }}</label>
            <div class="col-sm-4">
              <input class="form-control" type="number" name="module_email_validation_read_timeout" id="input-read-timeout" value="{{ module_email_validation_read_timeout }}" />
            </div>
            <label class="col-sm-2 col-form-label" for="input-request-timeout">{{ entry_request_timeout }}</label>
            <div class="col-sm-4">
              <input class="form-control" type="number" name="module_email_validation_request_timeout" id="input-request-timeout" value="{{ module_email_validation_request_timeout }}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="input-alert">{{ entry_alert }}</label>
            <div class="col-sm-4">
              <input class="form-control" type="text" id="input-alert" name="module_email_validation_alert" value="{{ module_email_validation_alert }}" />
              <div class="help-block text-muted">{{ text_help_alert }}</div>
            </div>
            <div class="col-sm-6">
              {% if edit_emailtemplate %}
                <a href="{{ edit_emailtemplate }}" class="btn btn-info"><i class="fa fa-pencil-alt"></i> {{ button_emailtemplate }}</a>
              {% else %}
                <button type="button" class="btn btn-info" data-toggle="tooltip" title="{{ text_missing_emailtemplate }}"><i class="fa fa-pencil-alt"></i> {{ button_emailtemplate }}</button>
              {% endif %}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_cache }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-secondary{{ module_email_validation_cache ? ' active' }}" data-toggle="tooltip" title="{{ text_yes }}">
                  <input type="radio" name="module_email_validation_cache" value="1"{{ module_email_validation_cache ? ' checked="checked"' }} /><i class="fa fa-fw fa-check"></i>
                </label>
                <label class="btn btn-outline-secondary{{ not module_email_validation_cache ? ' active' }}" data-toggle="tooltip" title="{{ text_no }}">
                  <input type="radio" name="module_email_validation_cache" value="0"{{ not module_email_validation_cache ? ' checked="checked"' }} /><i class="fa fa-fw fa-times"></i>
                </label>
              </div>
              {% if module_email_validation_cache and total_cache %}<a href="{{ action_empty }}" class="btn btn-warning" data-toggle="tooltip" title="{{ button_empty }}"><i class="fa fa-trash"></i> <span class="badge badge-light">{{ total_cache }}</span></a>{% endif %}
              <span class="form-text text-muted">{{ text_help_cache }}</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ entry_debug }}</label>
            <div class="col-sm-10">
              <div class="form-group">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-secondary{{ module_email_validation_debug ? ' active' }}" data-toggle="tooltip" title="{{ text_yes }}">
                    <input type="radio" name="module_email_validation_debug" value="1"{{ module_email_validation_debug ? ' checked="checked"' }} /><i class="fa fa-fw fa-check"></i>
                  </label>
                  <label class="btn btn-outline-secondary{{ not module_email_validation_debug ? ' active' }}" data-toggle="tooltip" title="{{ text_no }}">
                    <input type="radio" name="module_email_validation_debug" value="0"{{ not module_email_validation_debug ? ' checked="checked"' }} /><i class="fa fa-fw fa-times"></i>
                  </label>
                </div>
                {% if email_validation_debug_log %}<a href="{{ action }}&action=clear" class="btn btn-warning" data-toggle="tooltip" title="{{ button_clear }}"><i class="fa fa-trash"></i></a>{% endif %}
              </div>
              {% if email_validation_debug_log %}
                <div class="form-group" style="margin-bottom: 0">
                  <textarea wrap="off" rows="15" readonly class="form-control">{{ email_validation_debug_log }}</textarea>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-secondary{{ module_email_validation_status ? ' active' }}">
                  <input type="radio" name="module_email_validation_status" value="1"{{ module_email_validation_status ? ' checked="checked"' }} />{{ text_enabled }}
                </label>
                <label class="btn btn-outline-secondary{{ not module_email_validation_status ? ' active' }}">
                  <input type="radio" name="module_email_validation_status" value="0"{{ not module_email_validation_status ? ' checked="checked"' }} />{{ text_disabled }}
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p class="text-center">Extension built by: <a href="https://www.opencart-templates.co.uk">Opencart-Templates</a></p>
  </div>
</div>
{{ footer }}