{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
<div class="container-fluid">
	{% if success %}
	<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	{% endif %}
	{% if error_warning %}
	<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		<button type="button" class="close" data-dismiss="alert">×</button>
	</div>
	{% endif %}
	{% if (not module_mailboxvalidator_status) %}
	<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ text_module_disabled }}</div>
	{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
		</div>
		<div class="panel-body">
			<p>MailboxValidator Email Validator extension is aim to help you to block invalid, disposable, free or role-based email, from registering for your service.</p>
			<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
				<!-- API key -->
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="input-name">{{ entry_api_key }}</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="input-api-key" name="module_mailboxvalidator_api_key" value="{{ module_mailboxvalidator_api_key }}" required />
						{% if error_api_key %}
						<div class="text-danger">{{ error_api_key }}</div>
						{% endif %}
					</div>
				</div>
				<!-- Remaining Credits -->
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="input-name">{{ entry_remaining_credits }}</label>
					<div class="col-sm-10">
						{{ module_mailboxvalidator_remaining_credits }}
						<input type="hidden"  name="module_mailboxvalidator_remaining_credits" value="{{ module_mailboxvalidator_remaining_credits }}" />
						{% if error_low_credits %}
						<div class="text-danger">{{ error_low_credits }}</div>
						{% endif %}
					</div>
				</div>
				<!-- Plugin Status -->
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
					<div class="col-sm-10">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-default{{ module_mailboxvalidator_status ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_status" value="1"{{ module_mailboxvalidator_status ? ' checked="checked"' }} />{{ text_enabled }}
							</label>
							<label class="btn btn-default{{ not module_mailboxvalidator_status ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_status" value="0"{{ not module_mailboxvalidator_status ? ' checked="checked"' }} />{{ text_disabled }}
							</label>
						</div>
					</div>
				</div>
				<!-- Debug -->
				<div class="form-group row">
					<label class="col-sm-2 control-label">{{ entry_debug }}</label>
					<div class="col-sm-10">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-default{{ module_mailboxvalidator_debug ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_debug" value="1"{{ module_mailboxvalidator_debug ? ' checked="checked"' }} />{{ text_enabled }}
							</label>
							<label class="btn btn-default{{ not module_mailboxvalidator_debug ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_debug" value="0"{{ not module_mailboxvalidator_debug ? ' checked="checked"' }} />{{ text_disabled }}
							</label>
						</div>
					</div>
				</div>
				<!-- All Email Validators-->
				<div class="form-group row">
					<!-- Valid Email Validator -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_valid_email_validator }}">{{ entry_valid_email_validator }}</span></label>
					<div class="col-sm-10">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-default{{ module_mailboxvalidator_valid_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_valid_email_validator" value="1"{{ module_mailboxvalidator_valid_email_validator ? ' checked="checked"' }} />{{ text_enabled }}
							</label>
							<label class="btn btn-default{{ not module_mailboxvalidator_valid_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_valid_email_validator" value="0"{{ not module_mailboxvalidator_valid_email_validator ? ' checked="checked"' }} />{{ text_disabled }}
							</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<!-- Invalid email error message -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_invalid_email_error_message_setting }}">{{ entry_invalid_email_error_message_setting }}</span></label>
					<div class="col-sm-10">
						<input id="invalid_email_error_message" name="module_mailboxvalidator_invalid_email_error_message" size="40" type="text" value="{{ module_mailboxvalidator_invalid_email_error_message }}" style="margin-bottom: 5px;"/>
					</div>
				</div>
				<div class="form-group row">
					<!-- Disposable Email Validator -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_disposable_email_validator }}">{{ entry_disposable_email_validator }}</span></label>
					<div class="col-sm-10">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-default{{ module_mailboxvalidator_disposable_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_disposable_email_validator" value="1"{{ module_mailboxvalidator_disposable_email_validator ? ' checked="checked"' }} />{{ text_enabled }}
							</label>
							<label class="btn btn-default{{ not module_mailboxvalidator_disposable_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_disposable_email_validator" value="0"{{ not module_mailboxvalidator_disposable_email_validator ? ' checked="checked"' }} />{{ text_disabled }}
							</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<!-- Disposable email error message -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_disposable_email_error_message_setting }}">{{ entry_disposable_email_error_message_setting }}</span></label>
					<div class="col-sm-10">
						<input id="disposable_email_error_message" name="module_mailboxvalidator_disposable_email_error_message" size="40" type="text" value="{{ module_mailboxvalidator_disposable_email_error_message }}" style="margin-bottom: 5px;"/>
					</div>
				</div>
				<div class="form-group row">
					<!-- Free Email Validator -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_free_email_validator }}">{{ entry_free_email_validator }}</span></label>
					<div class="col-sm-10">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-default{{ module_mailboxvalidator_free_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_free_email_validator" value="1"{{ module_mailboxvalidator_free_email_validator ? ' checked="checked"' }} />{{ text_enabled }}
							</label>
							<label class="btn btn-default{{ not module_mailboxvalidator_free_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_free_email_validator" value="0"{{ not module_mailboxvalidator_free_email_validator ? ' checked="checked"' }} />{{ text_disabled }}
							</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<!-- Free email error message -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_free_email_error_message_setting }}">{{ entry_free_email_error_message_setting }}</span></label>
					<div class="col-sm-10">
						<input id="free_email_error_message" name="module_mailboxvalidator_free_email_error_message" size="40" type="text" value="{{ module_mailboxvalidator_free_email_error_message }}" style="margin-bottom: 5px;"/>
					</div>
				</div>
				<div class="form-group row">
					<!-- Role Email Valiator -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_role_email_validator }}">{{ entry_role_email_validator }}</span></label>
					<div class="col-sm-10">
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
							<label class="btn btn-default{{ module_mailboxvalidator_role_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_role_email_validator" value="1"{{ module_mailboxvalidator_role_email_validator ? ' checked="checked"' }} />{{ text_enabled }}
							</label>
							<label class="btn btn-default{{ not module_mailboxvalidator_role_email_validator ? ' active' }}">
								<input type="radio" name="module_mailboxvalidator_role_email_validator" value="0"{{ not module_mailboxvalidator_role_email_validator ? ' checked="checked"' }} />{{ text_disabled }}
							</label>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<!-- Role email error message -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_role_based_email_error_message_setting }}">{{ entry_role_based_email_error_message_setting }}</span></label>
					<div class="col-sm-10">
						<input id="role_based_email_error_message" name="module_mailboxvalidator_role_based_email_error_message" size="40" type="text" value="{{ module_mailboxvalidator_role_based_email_error_message }}" style="margin-bottom: 5px;"/>
					</div>
				</div>
				<div class="form-group row">
					<!-- Custom Email Domains Valiator -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_custom_email_domain_email_validator }}">{{ entry_custom_email_domain_validator }}</span></label>
					<div class="col-sm-10">
						<input id="blacklist_domain" name="module_mailboxvalidator_custom_email_domain_validator" size="40" type="text" value="{{ module_mailboxvalidator_custom_email_domain_validator }}" style="margin-bottom: 5px;"/>
					</div>
				</div>
				<div class="form-group row">
					<!-- Custom Email Domains error message -->
					<label class="col-sm-2 control-label" for="input-status"><span data-toggle="tooltip" title="{{ help_block_email_domain_error_message_setting }}">{{ entry_block_email_domain_error_message_setting }}</span></label>
					<div class="col-sm-10">
						<input id="block_email_domain_error_message" name="module_mailboxvalidator_block_email_domain_error_message" size="40" type="text" value="{{ module_mailboxvalidator_block_email_domain_error_message }}" style="margin-bottom: 5px;"/>
					</div>
				</div>
			</form>
		</div>
	</div>
  
</div>
{{ footer }}