{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-option').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
		    <div class="row">
            <div class="col-sm-2">
              <div class="form-group">
                <label class="control-label" for="input-name">{{column_department}}</label>
               <select name="department_id" id="input-choose_department" class="form-control">
                <option value="*">{{text_select}}</option>
                  {% for department in  departments %}
                
             
			
				{% if department.department_id == filter_department %}
                    <option value="{{department.department_id}}" selected="selected">{{department.department}}</option>
                   {% else %}
				 <option value="{{department.department_id}}">{{department.department}}</option>
                
                {% endif %}
				
				 {% endfor %}
				</select>
              </div>
            </div>
		 <div class="col-sm-2">
			 <div class="form-group" id='datetimepicker1'>
                <label class="control-label" for="input-price">{{column_date_added}}</label> 
				<input type="text" name="filter_date_added" value="{{filter_date_added}}" data-date-format="YYYY-MM-DD"  placeholder="{{column_date_added}}" id="input-start_date" class="form-control" />
			 </div>
		 </div>
		 <div class="col-sm-2">
			 <div class="form-group">
                <label class="control-label" for="input-name">{{column_status}}</label>
               <select name="filter_status" id="input-choose_status" class="form-control">
                <option value="*">{{text_select_status}}</option>
                  {% for status in  statusData %}
                
             
			
				 {% if status.status_id == filter_status %}
                    <option value="{{status.status_id}}" selected="selected">{{status.name}}</option>
                    {% else %}
					<option value="{{status.status_id}}">{{status.name}}</option>
                
                {% endif %}
				
				{% endfor %}
				</select>
              </div>
		  </div>
			  <div class="form-group">
			 
			 <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-filter"></i> {{text_filter}}</button>
			
			</div>
     </div>
			
	  
	  
	  
	  
	  
	  
	  
	  
	  
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-option">
          <div class="table-responsive">
                 <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\ ').prop('checked', this.checked);" /></td>
                  
                  <td class="text-left"> 
                     <a>{{support_id}}</a></td>  <td class="text-left"> 
                     <a>{{column_subject}}</a></td>
                   
                  <td class="text-left"> <a>{{column_department}}</a>
                    </td>
					
					 <td class="text-left"> <a>{{column_customer}}</a></td>
					
                  <td class="text-right" style="
    width: 350px;">
                    <a>{{column_message}}</a>
                   </td>
				   
				   <td class="text-left"> <a>{{column_date_added}}</a></td>
				   
                
                  <td class="text-left"> <a>{{column_status}}</a>
                  <td class="text-left"> <a>{{column_notfiy}}</a>
                    </td>
                  <td class="text-right"> <a>{{column_action}}</a></td>
                </tr>
              </thead>
              <tbody>
                {% if tickets %}
				
            {% for ticket in tickets %}
                       				
                <tr>
                <td class="text-center">{% if ticket.support_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ ticket.support_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ ticket.support_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ticket.support_id}}</td>  <td class="text-left">{{ticket.subject }}</td>
                  <td class="text-left">{{ticket.department }}</td>
				   <td class="text-left">{{ticket.customer }}</td>
                  <td class="text-left">{{ticket.message }}</td>
                 
                  <td class="text-left">{{ticket.date_added }}</td>
                 
                  <td class="text-left" style="backgroundcolor:#{{ticket.color }}">{{ticket.status }}</td>
					{%if ticket.notify =='1' %}
				   <td class="text-left">{{text_yes}}</td>
					{% else %}
					
					
				   <td class="text-left">{{text_no}}</td>
					 {% endif %}
					
                  <td class="text-right"><a href="{{ticket.view }}" data-toggle="tooltip" title="View" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
                </tr>
            
			   {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="10">{{text_no_results}}</td>
                </tr>
               {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
   <script src="https://lokal-werbung.ch/development/support/admin/view/javascript/jscolor.js"></script>
   
   
    <script type="text/javascript">
   
    $(function () {
                $('#datetimepicker1').datetimepicker();
            });	
   
   
   $('#button-filter').on('click', function() {
	var url = '';

	var filter_department = $('select[name=\'department_id\']').val();
	if (filter_department != '*') {
		url += '&filter_department=' + encodeURIComponent(filter_department);
	}
	var filter_status = $('select[name=\'filter_status\']').val();
	if (filter_status != '*') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}
	
	
	var filter_date_added = $('input[name=\'filter_date_added\']').val();

	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}
	

 location = 'index.php?route=extension/module/support&user_token={{ user_token }}' + url;
});
   
   
   
   
   
   
   
   
   </script>
</div>
{{ footer }}